.card {
  padding: 21px 575px 42px 20px;
  width: 625px;
  height: 369px;
}

.card__top {
  display: flex;
  flex-flow: row;
}

.card__top__left {
  width: 36px;
  height: 36px;
  background: #1d1c1d;
  border-radius: 2px;
}

.logo {
  padding: 6px 10px;
  width: 16px;
  height: 24px;
}

.card__top__right {
  margin-left: 8px;
}

.card__top__righ__line {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.name {
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
}

.layer__app {
  margin-left: 9px;
  margin-right: 5px;
  width: 25px;
  height: 14px;
  background: #e2e2e2;
  border-radius: 2px;
}

.app {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: #575757;
  padding: 1px 2px 1px 3px;
}

.time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #616061;
}

.card__site {
  margin-top: 6px;
  font-family: Lato;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #2c5cc5;
}

.card__bigBlock {
  display: flex;
  flex-flow: row;
  justify-self: start;
  padding-left: 45px;
  padding-top: 15px;
}

.card__bigBlock__line {
  width: 4px;
  height: 310px;
  background: #dddddd;
  border-radius: 8px;
}

.card__bigBlock__box {
  padding-left: 15px;
}

.hub {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #1d1c1d;
}

.assets {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #1d1c1d;
  padding-bottom: 32px;
  padding-top: 7px;

}

.card__logo {
  width: 360px;
  height: 226px;
}
