.container {
  height: 100%;
  display: flex;
  flex-flow: row;
}

.container__sidePanel {
  width: 15%;
  background: #3F103F;
  overflow: auto;
}

.container__workingSpace {
    width: 85%;
    background: #FFFFFF;
}
