.container {
    display: flex;
    flex-flow: row;
}

.container__sidePanel {
    width: 15%;
    background: #3f103f;
    overflow: auto;
}

.container__workingSpace {
    width: 85%;
    height: 100%;
    background: #ffffff;
}

.top {
    display: flex;
    flex-flow: row;
}

.top__right {
    display: flex;
    flex-flow: row;
}
