.container {
    display: flex;
    flex-flow: row;
    width: 1440px;
}

.container__sidePanel {
    width: 15%;
    background: #3f103f;
    overflow: auto;
}

.container__workingSpace {
    width: 85%;
    background: #ffffff;
}
